/* Ensure video elements are full width by default (for mobile) */
.video {
  width: 100%;
  height: auto;
}

/* Adjust video size for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .video {
    width: 100%; /* Adjust this value as needed for tablets */
    margin: 0 auto; /* Center the video */
  }
}

/* Adjust video size for desktops */
@media (min-width: 1024px) {
  .video {
    width: 60%; /* Adjust this value as needed for desktops */
    margin: 0 auto; /* Center the video */
  }
}

/* Grid for sidebar images */
.sidebarImages {
  display: grid;
  grid-template-columns: 1fr; /* Ensure full width for images */
  align-items: center;
  padding: 0; /* Consistent padding */
  margin-top: 60px; /* Consistent margin-top for tablets and mobiles */

  @media (--mediaMobile) {
    padding: 0 20px;
    margin-top: 40px;
  }
}

/* Individual sidebar image */
.sidebarImage {
  grid-column: span 1; /* Span all columns to ensure full width */
  position: relative;
  top: 0;
  opacity: 1;
}
