/* Ensure video elements are full width */
.video {
  width: 100%;
}

/* Grid for sidebar images */
.sidebarImages {
  display: grid;
  grid-template-columns: 1fr; /* Ensure full width for images */
  align-items: center;
  padding: 0; /* Consistent padding */
  margin-top: 60px; /* Consistent margin-top for tablets and mobiles */

  @media (--mediaMobile) {
    padding: 0 20px;
    margin-top: 40px;
  }
}

/* Individual sidebar image */
.sidebarImage {
  grid-column: span 1; /* Span all columns to ensure full width */
  position: relative;
  top: 0;
  opacity: 1;
}



